aside {
  width: 250px;
  padding-block: 20px;
  border-right: 0.5px solid #555;
  ul {
    list-style: none;
    li {
      position: relative;
      padding: 7px 10px;
      cursor: pointer;
      &.nested {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon {
          transition: 0.3s;
        }
        .dropdown {
          display: none;
          position: absolute;
          top: 100%;
          left: 85%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          background-color: white;
          width: 200px;
          list-style: none;
          z-index: 111;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          li {
            padding: 5px 0;
            a {
              color: #666;
              font-size: 14px;
              &:hover {
                color: black;
              }
            }
          }
        }
      }
      a {
        text-decoration: none;
        font-size: 15px;
        color: #444;
        font-family: Arial, Helvetica, sans-serif;
        &:hover {
          color: black;
        }
      }
    }
  }
}

.nested:hover .icon {
  transform: rotate(90deg);
}
.nested:hover .dropdown {
  display: block;
}

